---
- name: Install packages
  hosts: all
  tasks:
    - name: Install packages
      apt:
        name: 
        {% for package in packages %}
          - {{ package }}
          {% endfor %}
        state: present
        update_cache: yes
