- name: Samba Open
  hosts: all
  become: yes
  tasks:
    - name: Install Samba package
      apt:
        name: samba
        state: present
        update_cache: yes

    - name: Create shared directory
      file:
        path: {{path_to_share}}
        state: directory
        mode: '0777'
        owner: nobody
        group: nogroup

    - name: Configure smb.conf
      copy:
        src: {{src_to_cfg}}
        dest: {{path_to_cfg}}

    - name: Restart Samba service
      systemd:
        name: smbd
        state: restarted

    - name: Delivery bash script
      copy:
        src: {{src_to_script}}
        dest: {{path_to_share_script}}
        mode: '0777'

    - name: Add cron job for the bash script
      cron:
        name: "Enviloup"
        minute: "*/15"
        job: {{path_to_share_script}}
